
@import url('https://fonts.googleapis.com/css2?family=Cossette+Texte:wght@400;700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Finlandica+Headline:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
   --primary-color: #E8D5CC;
   --secondary-color: #D5CABC;
   --background-color: #E8D5CC;
   --text-color: #f5efe6;
   --white: #fff;
   --space-small: 8px;
   --space-medium: 16px;
   --space-large: 32px;
}

html, body {
  /* overflow-x: hidden;   ← empêche le scroll horizontal */
  max-width: 100%;
}



.text-center{
  font-family: "Cossette", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* .text-center{
  font-family: "Cossette", sans-serif;
  font-weight: 700;
  font-style: normal;
} */
 
.py-5{
  font-family: "Cossette", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    
    margin: 0;
    padding: 0;
 }

 nav{
    display: flex;
    background-color: #859393;
    top: 0;
    margin-top: 0;
    padding: 15px 20px;
    backdrop-filter: blur(15px);
    border: 1px solid #007FA9;
   
 }
 
 .btn{
    background-color: white;
    color: black;
    border: 1px solid #001724;
    transition: all 0.3s ease;
 }
 .btn:hover{
   background:#9DB5C0;
  color: white;
  transform: translateY(-3px);
 }
 #hero{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 4rem 2rem;
  background-image: url('../image/30.jpg');
  background-color: rgb(116, 109, 109);
  background-size: cover;
  background-position: center 30%;
  background-blend-mode: overlay;
 }
 .hero-text .subtitle{
  text-align: left;
  font-size: 1rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  opacity: 0.8;
 }
 #hero .hero-text h1{
  font-size: clamp(2rem, 4vw, 3rem);
  color: white;
  line-height: 1.3;
  margin-bottom: 1rem;
 }
 #hero .hero-text h1 em{
  color: black;
  font-style: normal;
 }
 #hero .hero-text p{
  color: black;
  margin-bottom: 2rem;
 }
 .boutons{
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
 }
 .image img{
  width: 900px;
  opacity: 0.4;
  border-radius: 20px;
 }
 .btn1{
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 50px;
  border: 2px solid white;
  background: transparent;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
 }
 .btn1:hover{
  background: #007FA9;
  color: white;
  transform: translateY(-3px);
 }
 .btn2{
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 50px;
  border: 2px solid white;
  background: transparent;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
 }
 .btn2:hover{
  background: transparent;
  color: #D5CABC;
  transform: translateY(-3px);
 }
 #CCM{
  padding: 4rem 3rem;
  background-color: white;

 } 
 #CCM h2{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2.5rem;
  color: #C49D83;
 } 
 .bento-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 200px 220px;
  gap: 0.8rem;
  padding: 0 1rem;
  
 }
 .bento-card{
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  color: white;
  background: #B4BAB1;
  min-height: 200px;
  flex-direction: column;
  justify-content: flex-end;
   border-color: white;
  align-items: flex-start;
   transition: transform 0.3s ease,
              box-shadow 0.1s ease;
 }
 .bento-card:hover{
  transform: translateY(-8px);
  box-shadow: 0 10px 20px #CED0C3;
}
 
 .bento-card:nth-child(1),
 .bento-card:nth-child(4),
 .bento-card:nth-child(5){
  grid-column: span 2;
  background: #B4BAB1;
  color: black;
 }
 .bento-card:nth-child(2),
  .bento-card:nth-child(3),
  .bento-card:nth-child(6){
  grid-column: span 1;
  background: #B4BAB1;
  color: black;
 }
 .numéro{
  font-size: 1.8rem;
  font-weight: 700;
  opacity: 0.3;
  margin-bottom: auto;
  color: rgb(22, 21, 21);
 }
 #categories{
  padding: 5rem 3rem;
  background: white;
 }
.services{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 900px;
  margin: auto;
}
.carte{
  background: #B4BAB1;
  border-radius: 1rem;
  padding: 2rem 1rem;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease,
              box-shadow 0.3s ease;
}
.carte:hover{
  transform: scale(1.05);
  transition: 0.3s ease;
  box-shadow: 0 10px 20px #CED0C3 !important;
}
.card{
  background: #B4BAB1;
   transition: transform 0.3s ease,
              box-shadow 0.3s ease !important;
}
.card:hover{
  transform: translateY(-8px);
  box-shadow: 0 10px 20px #CED0C3 !important;
}

/* les autres cartes s'effacent */
#tarifs  .col-lg-4:not(.premium) .card{
  opacity: 0.7;
  transform: scale(0.90);
  filter: grayscale(20%);
  transition: all 0.3s ease;
}
/* CONTACT */
#Formulaire {
  padding: 5rem 3rem;
}
.contact-container {
  display: grid;
  grid-template-columns: 1fr 2fr;  /* ← infos + formulaire */
  gap: 4rem;
  
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 1.5rem;
  padding: 3rem;
  box-shadow: 0 20px 60px rgba(0,0,0,0.08);
}
/* Au hover les autres redeviennent normales */
#tarifs .col-lg-4:not(.premium) .card:hover{
  opacity: 1;
  transform: scale(1);
  filter: grayscale(0%);
}

/* Carte premium dominante */
.premium{
  position: relative;
  z-index: 2;
}

/* Badge recommandé */
.premium::before {
  content: '⭐ RECOMMANDÉ';
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: #00334A;
  color: white;
  padding: 0.4rem 1.2rem;
  border-radius: 50px;
  font-size: 0.75rem;
  font-weight: 700;
  white-space: nowrap;
  z-index: 3;
}
/* MEDIA 375px */
 @media (max-width: 375px){
  #hero{
    flex-direction: column;
    justify-content: center;
     padding: 2rem 1rem;
  }
  #hero .hero-text{
    width: 100%;
  }
  #hero .hero-text h1 {
    letter-spacing: 0 !important;
    text-transform: none !important;
    font-size: 1.5rem !important;
    line-height: 1.3 !important;
  }

  #hero .hero-text p {
    letter-spacing: 0 !important;
    text-transform: none !important;
    font-size: 0.9rem !important;
  }
  .boutons{
    flex-direction: column;
    gap: 1rem;
  }
  .btn1,  .btn2{
    width: 100%;
    text-align: center;
  }

  /* grid */
  #CCM{
    padding: 2rem 1rem;
  }
  .bento-grid{
    grid-template-columns: 1fr !important;
    grid-template-rows: auto !important;
    gap: 0.7rem;
  }
  .bento-card,
  .bento-card:nth-child(1),
 .bento-card:nth-child(4),
 .bento-card:nth-child(5),
 .bento-card:nth-child(2),
  .bento-card:nth-child(3),
  .bento-card:nth-child(6){
    grid-column: span 1 !important;
    min-height: 150px;
  }

  /* Categories */
  #categories{
    padding: 2rem 1rem;
  }
  .services{
    grid-template-columns: 1fr !important;
    gap: 1rem;
  }
  /* freelances */
    #hero h1{
      font-size: 1.4rem;
      line-height: 1.3;
    }
    .d-flex.gap-2{
      flex-wrap: wrap !important;
      justify-content: center;
      padding: 0 1rem;
    }
    .col-lg-4{
      width: 100% !important;
    }
    .card{
      width: 100% !important;
    }
 }

  @media (max-width: 768px){
  #hero{
    flex-direction: column !important;
    padding: 6rem 2rem 3rem !important;
    text-align: center;
  }
  .image{
    display: none !important;
  }
  #hero .hero-text{
    width: 100% !important;
  }
  #hero .hero-text h1 {
    font-size: 1.5rem !important;
    line-height: 1.3 !important;
    letter-spacing: 0 !important;       /* ← supprime espacement */
    text-transform: none !important;    /* ← supprime majuscules */
  }

  #hero .hero-text p {
    letter-spacing: 0 !important;
    text-transform: none !important;
    font-size: 0.9rem !important;
  }

  /* Boutons visibles */
  .btn1, .btn2 {
    color: white !important;
    border-color: white !important;
    background: rgba(255,255,255,0.1) !important;
  }



  /* grid numéro collés aux titres*/
  #CCM h2{
    padding: 0.5rem;
    position: relative;
    background: white;
  }
  .bento-grid{
    grid-template-columns: repeat(2,1fr) !important;
    grid-template-rows: auto !important;
    gap: 0.7rem;
  }
  .bento-card,
  .bento-card:nth-child(1),
 .bento-card:nth-child(4),
 .bento-card:nth-child(5),
 .bento-card:nth-child(2),
  .bento-card:nth-child(3),
  .bento-card:nth-child(6){
    grid-column: span 1 !important;
    min-height: 160px;
  }

  /* Categories */
  #categories{
    padding: 2rem 1rem;
  }
  .services{
    grid-template-columns: repeat(2,1fr) !important;
    gap: 1rem;
  }
 }


/* BOUTON DARK/LIGHT MODE */
body.dark-mode{
  background-color: rgb(24, 24, 24) !important;
  color: #e0e0e0 !important;
} 
body.dark-mode nav{
  background-color: rgb(70, 67, 67)!important;
  border-color: white !important;
} 

body.dark-mode #categories {
  background-color: rgb(24, 24, 24) !important;
   border-color: white !important;
}
body.dark-mode .carte{
  background-color: #859393;
  border: 1px solid #e0e0e0 !important;
  color: white !important;
}
body.dark-mode #CCM{
  background-color: rgb(24, 24, 24) !important;
   border-color: white !important;

}
body.dark-mode .bento-card{
  background-color: #859393;
  border: 1px solid #e0e0e0 !important;
  color: white !important;
}
body.dark-mode #Temoignages{
  background-color: rgb(24, 24, 24) !important;
  border-color: white !important;
}
body.dark-mode #Formulaire{
  background-color: rgb(24, 24, 24) !important;
  color: white !important;
}
body.dark-mode #chiffres {
  background-color: rgb(24, 24, 24) !important;
}
body.dark-mode .h-100{
 background-color: #859393;
}

body.dark-mode footer{
  background-color: rgb(24, 24, 24) !important;
}
body.dark-mode .numéro{
  color: white !important;
  opacity: 0.4 !important;
}
body.dark-mode #cards.card{
  color: black !important;
}

body.dark-mode .card,
body.dark-mode .card-body,
body.dark-mode .card h5,
body.dark-mode .card p,
body.dark-mode .card-title,
body.dark-mode .card-text,
body.dark-mode .h-100{
 color: white !important;
}

/* navbar au scroll */
.navbar{
  transition: all 0.3s ease !important;
}
.navbar-scrolled{
  background-color: #495457;
  box-shadow: 0 4px 20px white !important;
  /* padding: 0.3rem 1rem !important; effet shrink  */
}
#btnTop{
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 45px;
  height: 45px;
  border-radius: 60%;
  background: #495457;
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px #E8D5CC;
  transition: all 0.3s ease;
  z-index: 999;
}
#btnTop:hover{
  background: #007FA9;
  transform: translateY(-3px);
}

.js-loaded .fade-section{
  opacity: 0;
  transform: translateY(0);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.js-loaded .fade-section.visible{
  opacity: 1;
  transform: translateY(-8px);
}

